body > #root {
  height: 100vh;
}
body {
  margin:0px;
  padding:0px;
}
.clock {
  font-size: 150%;
  margin: 0px;
  padding: 0px;
  justify-content: center;
  text-align: center;
}
.dailySchedule {
  justify-content: right;
  text-align: right;
}
.container {
  display: flex;
  justify-content: space-around;
}
.container > div {
  margin: 20px;
  padding: 30px;
}
.scheduleComponent {
  justify-content: right;
}
table {
  border: 1px solid white;
  width: 100%;
}
.row:after {
  content:"";
  display: table;
  clear:both;
}
.appBackground {
  background-image: url(./images/background.jpg);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-size: xx-large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
